DS_Store
*.pyc
__pycache__/
*.log
.env
.vscode/
.idea/
*.swp
*.bak
terraform.tfstate
terraform.tfstate.backup
.DS_Store
node_modules/
images/screenshots/
images/dashboard/
images/monitoring/
application/database/mysql-data/
application/database/*.sql
application/database/*.db
application/database/*.sqlite
application/database/*.sqlite3
application/database/*.dump
application/database/*.tar
application/database/*.gz
application/database/*.zip
